/* versione desktop */

.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}





/* versione tablet */

@media screen and (max-width:768px) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
  /* COMMON */

  body{
    background-color: lightblue;
    margin: 0;
  }

  .container{
    padding: 10px 15px 20px;
  }

  .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  /* sezione lezioni */

  #lezioni h3{
    font-size: 180%;
  }
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: initial;
    margin-top: 10px;
  }



  /* sezione steps */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: initial;
    width: 100%;
    margin-top: 40px;
  
  }
  
  /* sezione why */

  #why{
    background-color: lightblue;
    text-align: center;
  }

  #why hr{
    display: none;
  }

  #why .row>h1{
    color: white;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: calc(100% / 3 - 15px);
    margin-top: 50px;
    float: left;
  }

  #why .row>.second{
    margin-left: 15px;
    margin-right: 15px;
  }

  #why img{
    height: 50px;
  }

  #why .row img {
    padding: 5px
  }
}



/* versione mobile */

@media screen and (max-width:480px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* COMMON */

  body{
    background-color: #f2f2cd;
    font-size: 75%;
    margin: 0;
  }

  .container{
    padding: 10px 15px 5px;
  }

  .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  img {
    height: 100px;
  }


  /* sezione lezioni */

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: initial;
    margin-top: 10px;
  }

  /* sezione steps */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: initial;
    width: 100%;
    margin-top: 10px;
  
  }



  /* sezione why */

  #why{
    background-color: #f2f2cd;
  }

  #why hr{
    display: block;
  }

  #why .row>h1{
    color: black;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 10px;
    float: initial;
  }

  #why .row>.second{
    margin-left: 0px;
    margin-right: 0px;
  }

  #why img{
    height: 100px;
  }

  #why .row img {
    padding: 30px
  }
  
}





